<div id="footer">
  <div class="column">
    <div class="row">
      <div id="num1">
        <img
          src="assets/img/logo-orange.png"
          alt="Hyperledger | Fabric | Logo"
        />
      </div>
      <div id="num2">
        <p>
          The Linux Foundation founded the Hyperledger in 2015 to advance
          cross-industry blockchain technologies. Hyperledger Fabric is one of
          the blockchain projects within Hyperledger!
        </p>
        <p>Guide is adapted for Linux users</p>
      </div>
      <div id="num3">
        <p>Source is official Hyperledger Fabric documentation!</p>
        <a href="https://hyperledger-fabric.readthedocs.io/" target="blank"
          ><button mat-raised-button>Go To Documentation</button></a
        >
      </div>
    </div>
    <div class="row orange">
      <p>
        <a href="https://Li54nder.github.io/personal" target="blank"
          >Copyright © 2020 Aleksa Novkovic</a
        >
      </p>
    </div>
  </div>
</div>
