<div class="page-content">
  <div class="text">
    <h1>Questions & Answers</h1>
    <p>
      Here, on this page, you can find answers to some questions. You can ask
      your question absolutely anonymously, but also read the current unanswered
      questions, so you can upvote some of them to be brought to the top of the
      list, because we will answer questions with more votes faster.
    </p>
  </div>
  <div class="text">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Ask your question</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form
        autocomplete="off"
        #authForm="ngForm"
        (ngSubmit)="onSubmitForm(authForm)"
        *ngIf="!isLoading"
      >
        <mat-form-field class="example-full-width">
          <mat-label>Subject:</mat-label>
          <input
            matInput
            type="text"
            ngModel
            placeholder="Smart Contract"
            minlength="4"
            name="subject"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Question content:</mat-label>
          <textarea
            matInput
            rows="5"
            minlength="10"
            ngModel
            placeholder="I have heard that smart contracts can be written in two ways. What are those ways?"
            name="content"
          ></textarea>
        </mat-form-field>
        <br />
        <button mat-raised-button type="submit">Ask</button>
      </form>
    </mat-expansion-panel>
  </div>

  <div class="text">
    <h1>Answered questions</h1>
    <div *ngIf="!answeredQuestions">
      <br />
      <i><p>There is no answered questions yet...</p></i>
    </div>
    <div class="question" *ngFor="let question of answeredQuestions">
      <h3>{{ question.question.subject }}</h3>
      <p>Q: {{ question.question.content }}</p>
      <p>A: {{ question.answer }}</p>
    </div>
  </div>

  <div class="text">
    <h1>Unanswered questions</h1>
    <div *ngIf="!questions">
      <br />
      <i><p>There is no unanswered questions yet...</p></i>
    </div>
    <div class="question" *ngFor="let question of questions; let i = index">
      <h3>
        {{ question.subject }} <small>Rate: {{ question.rate }}</small>
      </h3>
      <div class="content">
        <p>{{ question.content }}</p>
        <div class="vote">
          <mat-icon matTooltip="Upvote this question" (click)="upvote(i)"
            >keyboard_arrow_up</mat-icon
          >
          <mat-icon matTooltip="Downvote" (click)="downvote(i)"
            >keyboard_arrow_down</mat-icon
          >
        </div>
      </div>
    </div>
  </div>

  <div class="text">
    <h3>Rate our work, initiative, and effort...</h3>
    <div>
      <!-- RATE -->
      <section id="rate" class="rating">
        <!-- FIFTH STAR -->
        <input
          type="radio"
          id="star_5"
          name="rate"
          value="5"
          (click)="onRating(5)"
        />
        <label for="star_5" title="Five">&#9733;</label>
        <!-- FOURTH STAR -->
        <input
          type="radio"
          id="star_4"
          name="rate"
          value="4"
          (click)="onRating(4)"
        />
        <label for="star_4" title="Four">&#9733;</label>
        <!-- THIRD STAR -->
        <input
          type="radio"
          id="star_3"
          name="rate"
          value="3"
          (click)="onRating(3)"
        />
        <label for="star_3" title="Three">&#9733;</label>
        <!-- SECOND STAR -->
        <input
          type="radio"
          id="star_2"
          name="rate"
          value="2"
          (click)="onRating(2)"
        />
        <label for="star_2" title="Two">&#9733;</label>
        <!-- FIRST STAR -->
        <input
          type="radio"
          id="star_1"
          name="rate"
          value="1"
          (click)="onRating(1)"
        />
        <label for="star_1" title="One">&#9733;</label>
      </section>
    </div>
    <p>
      Current average rate:
      {{ rating ? (rating.sum / rating.votes | number: "1.1-1") : "..." }}
    </p>
  </div>
</div>
