::ng-deep .mat-expansion-panel {
  background-color: orange;
}

form {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-focused .mat-form-field-ripple {
  background-color: black !important;
}
::ng-deep .mat-focused mat-label,
::ng-deep mat-label {
  color: black !important;
}
::ng-deep .cdk-text-field-autofilled {
  background-color: orange !important;
}

.question {
  text-align: left;
  padding: 10px 20px 25px;
  margin: 30px 0 20px;
  border: 1px solid black;
  border-radius: 3px;
}
.question h3 {
  display: flex;
  justify-content: space-between;
}
.question .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.question .content .vote {
  width: 30px;
  display: flex;
  flex-direction: column;
}
.question .content .vote mat-icon {
  cursor: pointer;
}

/* - - - - - RATINGS */
.rating {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  margin: 50px auto 20px;
  border-radius: 30px;
  background: #080808;
  display: block;
  overflow: hidden;

  box-shadow: 0 1px #080808, 0 5px #151515, 0 9px 6px -3px #303030;

  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating:not(:checked) > input {
  display: none;
}

/* - - - - - RATING */
/* #rate {
  top: -65px;
} */
#rate:not(:checked) > label {
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;

  color: white;
  line-height: 33px;
  text-align: center;
}
#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
  color: gold;
}
#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
  color: gold;
}
#rate > input:checked ~ label {
  color: orange;
}
/* - - - - - LIKE */
/* #like {
  bottom: -65px;
}
#like:not(:checked) > label {
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;

  color: rgba(233, 54, 40, 0.4);
  line-height: 33px;
  text-align: center;
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  color: rgba(233, 54, 40, 0.6);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  color: rgba(233, 54, 40, 0.8);
}
#like > input:checked ~ label {
  color: rgb(233, 54, 40);
} */
