#navbar {
  height: 100%;
  width: calc(100%-20px);
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid orange;
  background-color: #080808;
}
#nav {
  height: 100%;
}
button {
  height: 100%;
  padding: 5px 20px;
  margin-right: 10px;
  transition: background-color 0.3s;
  font-family: "Quicksand", sans-serif !important;
  font-size: 1rem;
  border-radius: 0;
  border-top: 2px solid transparent;
}
#nav button.active {
  border-top: 2px solid orange;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  #navbar {
    flex-direction: column;
    justify-content: space-around;
  }
}
