<div class="page-content">
    <div class="text">
        <h1>Build Your First Netrwork</h1>
        <p>Firstly take a look at <strong>guide</strong> for Prerequisites & Samples etc.</p>
        <div class="buttons">
            <button mat-raised-button>Open Guide</button>
            <button mat-raised-button>Note*</button>
        </div>
    </div> 
    <div class="text">
        <p>Now, when you did it, go open terminal and navigate to this path:</p>
        <div class="code">.../fabric-samples/first-network$</div>
    </div>
</div>