<div class="page-content">
  <div class="text">
    <img src="assets/img/logo-black.png" alt="Hypeledger | Logo | Fabric" />
    <p>
      Hooray! You are here, so you probably heard something about
      <strong>blockchain technology</strong> .
    </p>
  </div>
  <div class="text">
    <p>
      If you are already familiar with blockchain and Hypeledger Fabric you are
      likely looking for something like this:
    </p>
    <button mat-stroked-button>Hyperledger Fabric Guide</button><br /><br />
    <p>
      But if you are new in this world, then first of all you need to reed our
      glossary where you can find some important therms you must know before
      starting your Hyperledger Fabric journay:
    </p>
    <button mat-stroked-button (click)="goToGlossary()">Go To Glossary</button>
  </div>
  <div class="text">
    <h3>Why we need a blockchain?</h3>
    <br />
    <p>
      Well, the members of a some business network transact with each other, but
      they maintain separate records of their transactions. And the thigs they
      are transacting must have their provenance estavlished each time they're
      sold to ensure that he business selling an item possesses a chain of title
      verifying their ownership of it. Modern technology has taken this process
      from stone tablets and paper folders to hard drives and cloud platforms,
      but underlying structure is the same, you need days to clear securities
      transactions, contracts must be signed and executed manually and every
      database in the system contains unique information.
    </p>
    <p>
      However, with blockchain technology we have ability to coordinate their
      business network through a cost and risk ssociated with private
      information and processing while improving trust and visibility.
    </p>
  </div>
</div>
