/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

html, body {
    margin: 0;
}
body {
    background-color: #080808;
    color: orange;
    font-family: 'Quicksand', sans-serif !important;
}
button {
    z-index: 0;
}
a{
    text-decoration: none;
    color: #080808;
}

@media screen and (max-width: 900px) {
    .page-content button, #footer a, #footer button{
        width: 100% !important;
    }
}

@media screen and (max-width: 405px) {
    body {
        font-size: 0.9rem !important ;
    }
    img {
        width: 150px !important;
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-content button {
    background-color: orange;
    border: 1px solid black !important;
    color: black;
}
.text {
    width: 100%;
    background-color: orange;
    color: black;
    padding: 50px;
    margin: 20px;
    border-radius: 5px;

    text-align: center;
}
.text img {
    width: 250px;
    margin: 30px 0 60px;
}
